
:root {
  --color-primary: #737373;
  --color-secondary: #c5ddff;
  --color-tertiary: #dbdb2d;
}

body {
  overflow-x: hidden;
}

h1 {
  color: var(--color-tertiary);
  text-align: center;
  font-weight: 900;
  margin: 2.5rem 0 1.5rem 0;
  letter-spacing: 1.5px;
}

.navbar {
  background-color: var(--color-primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  max-width: 100vw;
  z-index: 1000;
  box-shadow: 0 2px 12px var(--color-secondary);
}

.navbar-logo {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--color-secondary);
  padding: 10px 20px;
}

img {
  height: 48px;
}

.footer {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

h2 {
  background: linear-gradient(90deg, var(--color-secondary), var(--color-tertiary));
  background-attachment: fixed;
  background-size: 200% 200%;
  animation: gradientScroll 5s linear infinite;
}

.navbar-buttons button {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: none;
  padding: 10px 20px;
  margin: 0 8px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s, color 0.3s;
}

.navbar-buttons button:hover {
  background-color: var(--color-tertiary);
  color: #fff;
  min-width: 100px;
}

h3 {
  color: var(--color-primary);
}
